/*=========  Header section ===============*/

header {
    background: url(../images/headerBackground.jpg) no-repeat;
    background-position: top;
    background-size: cover;

    .top-section__logo,
    .top-section__menu {
        display: inline-block;
    }
    
    .top-section {
        @media (min-width: 768px) {
            margin-top: 20px;
        }
        @media (min-width: 992px) {
            margin-top: 40px;
        }
        @media (min-width: 2880px) {
            margin-top: 90px;
        }
        
        &__logo {
            height: 37px;
            line-height: 47px;
            text-transform: uppercase;
            width: 100%;

            @media (min-width: 768px) {
                width: auto;
            }

            h1 {
                font-size: 18px;
                float: left;
                @media (min-width: 768px) {
                    width: auto;
                    float: none;
                }
            }
            a {
                color: $white;
            }
            svg {
                @media (min-width: 2880px) {
                    transform: scale(2);
                }
                
                path {
                    fill: white;
                }
            }
        }

        &__menu {
            height: 0;
            overflow: hidden;
            width: 200px;
            line-height: 36px;
            position: absolute;
            right: 0;
            bottom: 0;
            @include transition(height, .5s, linear);

            width: 100%;
            background: rgba(0,0,0,.5);
            top: 50px;
            display: none;


            @media (min-width: 768px) {
                position: relative;
                background: transparent;
                width: auto;
                height: 36px;
                line-height: 20px;
                overflow: visible;
                top: 15px;
                display: block!important;
            }

            a {
                color: $white;
                @media (min-width: 2880px) {
                    font-size: 20px;
                }
            }

            .list-inline {
                margin-top: 20px;
                @media (min-width: 768px) {
                    margin-top: 0;
                }
            }
        }
    }

    
    .toogle-menu {
        height: 270px;
        display: block;
        @media (min-width: 768px) {
            height: 0;
            display: none !important;
        }
    }

    .bottom-section {
        padding: 13% 0;
        @media (min-width: 2880px) {
            padding: 300px 0 430px;
        }

        &__container {
            h1,
            p {
                margin-bottom: 20px;
            }
            h1 {
                text-transform: uppercase;
                font-family: $Montserrat-Bold;
                font-size: 30px;
                margin: 0 auto;
                @media (min-width: 768px) {
                    font-size: 50px;
                    max-width: 60%;
                    margin-bottom: 30px;
                }
                @media (min-width: 992px) {
                    max-width: 40%;
                    margin-top: -30px;
                }
                @media (min-width: 2880px) {
                    font-size: 100px;
                    max-width: 60%;
                    margin-bottom: 70px;
                }
            }
            p {
                color: $white;
                font-family: $Roboto-light;
                font-size: 20px;
                @media (min-width: 768px) {
                    font-size: 25px;
                }
                @media (min-width: 2880px) {
                    font-size: 45px;
                }
            }
            button {
                margin-top: 30px;
                @media (min-width: 2880px) {
                    margin-top: 70px;
                }
            }
        }
    }

    .signup-link {
        border-radius: 25px;
        border: 2px solid $white;
        padding: 5px 10px;
        @include transition(color, .5s, linear);

        &:hover {
            border-color: $pink;
            color: $pink;
        }
    }
}

.list-inline {
    li {
        display: block;
        margin-right: 20px;
        text-align: right;

        @media (min-width: 768px) {
            display: inline-block;
            margin-right: 25px;
            text-align: left;
        }
        @media (min-width: 2880px) {
            margin-right: 60px;
        }
    }
}


.mobile-menu {
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
    float: right;
    top: 10px;

    &:hover span {
            background: $pink;
        }
    
    @media (min-width: 768px) {
        display: none;
    }

    span {
        background: $white;
        display: block;
        margin-bottom: 3px;
        height: 5px;
        @include transition(background, .3s, linear);
    }
}
